:root {
    --blue: #0e134e;
    --accent: #e66465;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    border-radius: 0;
    font-family: 'Roboto', sans-serif;
}

main {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

section {
    flex: 1;
    min-width: 100px;
    display: flex;
    justify-content: center;
    min-height: 100vh;
}


/* section:has(form) { }*/
.form-section {
    flex-direction: column;
    justify-content: center;
}

section.image-section {
    align-items: center;
    background: linear-gradient(#e66465, #9198e5);
}

.form-section div.wrapper {
    height: 60%;
    width: 60%;
    margin: auto;
}

section.image-section div {
    height: 50%;
    width: 60%;
    background-color: #ffffff60;
    border: 1px solid #ffffff90;
    border-radius: 1px;
    padding: 2.5em;
    padding-top: 5em;
    color: white;
}

section.image-section h1 {
    font-size: 3.5rem;
    word-wrap: normal;
    margin-right: 1.3em;
    margin-bottom: .4em;
}

.image-section p {
    font-size: 1.2rem;
}

.image-section span {
    color: var(--blue);
}

.form-section h1 {
    font-size: 2rem;
    margin-bottom: .4em;
}

.form-section p {
    color: rgba(0, 2, 13, 0.7);
    margin-bottom: 4em;
}

.form-section label {
    color: var(--blue);
    text-transform: capitalize;
    display: block;
    margin-bottom: .6em;
}

.form-section input {
    width: 100%;
    padding: .2em;
    min-height: 35px;
    border: 1px solid #1e1e1e39;
    border-radius: 5px;
    margin-bottom: .9em;
}

.form-section input:hover, button, label[for="check-me"] {
    cursor: pointer;
}

.form-section input:focus-within {
    outline: none;
    border-color: var(--accent);
}

.form-section input[type="checkbox"] {
    width: auto;
    margin: 0;
    margin-right: .5em;
}

form div {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

form div label[for="check-me"] {
    display: flex;
    align-items: center;
}

form div a {
    color: var(--accent);
    text-decoration: none;
}

form div a:visited {
    color: var(--accent);
}

form button {
    width: 100%;
    min-height: 40px;
    background: linear-gradient(to right, #e66465, #9198e5);
    color: white;
    font-weight: bold;
    border-radius: 5px;
    margin-bottom: 1em;
}

form button:hover {
    background: var(--accent);
}

form button:disabled {
    opacity: 0.3;
    cursor:not-allowed;
}

form button.social-sign-in--google {
    background: white;
    border: 1px solid rgba(196, 196, 196, 0.829);
    color: var(--blue);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

form button.social-sign-in--google img {
    height: 20px;
    width: 20px;
}

form p {
    margin: auto;
    margin-bottom: 1em !important;
    font-weight: 100;
    color: #ffffff40;
    text-align: center;
}